<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="~/css/style.css"/>
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <p> | </p>
        <a href="/projects">Projects</a> 
        <p> | </p>
        <p>Contact</p>
    </nav>
    <div>
        <h4 class="title">Contact me</h4>
        <form class="form">
            <label for="name">Name</label>
            <input type="text" name="name">
            <label for="email">Email</label>
            <input type="text" name="email">
            <label for="message">Message</label>
            <textarea name="message" id="" cols="30" rows="10"></textarea>
            <input type="submit" class="button">
        </form>
    </div>
</body>
</html>