<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
    <link rel="stylesheet" href="~/css/style.css"/>
</head>
<body>
    <nav>
        <p>Home</p>
        <p> | </p>
        <a href="/projects">Projects</a>
        <p> | </p>
        <a href="/contact">Contact</a>
    </nav>
    <div>
        <h2 class="title">About Me</h2>
        <div class="columns">
        <div class="alignCenter">
            <img src="~/images/Ellen_Dye.jpg" id="profile" alt="ellen dye">
            <h3>Ellen Dye</h3>
            <p class = "italic">This is something about me</p>
        </div>
        <div class="alignLeft">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur id blanditiis itaque atque recusandae, earum ad voluptas debitis totam ea officiis, reprehenderit quos praesentium, quia facere similique culpa! Vel, voluptatem. Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur id blanditiis itaque atque recusandae, earum ad voluptas debitis totam ea officiis, reprehenderit quos praesentium, quia facere similique culpa! Vel, voluptatem.</p>
        </div>
        </div>
    </div>


</body>
</html>