<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
    <link rel="stylesheet" href="~/css/style.css"/>
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <p> | </p>
        <p>Projects</p>
        <p> | </p>
        <a href="/contact">Contact</a>
    </nav>
    <div>
        <h2 class="title">Here are some of my projects</h2>
        <div class="columns row">
            <div class="columns projectDiv">
                <img src="~/images/Ellen_Dye.jpg" alt="project 1" class="project">
                <div class="alignLeft">
                    <h4>Project 1</h4>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore sit eum quos in blanditiis eveniet placeat labore explicabo. Laboriosam architecto unde debitis repellendus sint aperiam pariatur enim dolores explicabo maiores!</p>
                </div>
            </div>
            <div class="columns projectDiv">
                <img src="~/images/Ellen_Dye.jpg" alt="project 2" class="project">
                <div class="alignLeft">
                    <h4>Project 2</h4>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore sit eum quos in blanditiis eveniet placeat labore explicabo. Laboriosam architecto unde debitis repellendus sint aperiam pariatur enim dolores explicabo maiores!</p>
                </div>
            </div>
            <div class="columns projectDiv">
                <img src="~/images/Ellen_Dye.jpg" alt="project 3" class="project">
                <div class="alignLeft">
                    <h4>Project 3</h4>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore sit eum quos in blanditiis eveniet placeat labore explicabo. Laboriosam architecto unde debitis repellendus sint aperiam pariatur enim dolores explicabo maiores!</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>