* {
    font-family: Arial, Helvetica, sans-serif;
    margin: auto 0;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
    gap: .5em;
}

.title {
    text-align: center;
    margin: 1em;
}

.columns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin: 4em;
}

.row {
    flex-direction: column;
}

.alignLeft {
    text-align: left;
    flex: 1;
}

.alignCenter {
    text-align: center;
    flex: 1;
}

#profile {
    width: 20em;
    height: 20em;
    border-radius: 50%;
    padding: .5em;
    border: 1px solid black;
    margin: 1em;
}

.italic {
    margin: .5em;
    font-style: italic;
}

.projectDiv {
    width: 50%;
}

.project {
    width: 150px;
    height: 150px;
    border-radius: 1em;
}

.form {
    margin: 0 25%;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    gap: .5em;
}

.button {
    align-self: center;
    background-color: rgb(124, 162, 196);
    width: 25%;
    padding: 1em;
    border: none;
}